body {
  width: 100%;
  padding: 0;
  margin: 0;
}


.tela-inteira {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 10%;
}

main {
  min-height: 80%;
  display: flex;
}

.menu-vertical {
  flex-basis: 200px;
  border-right-style: solid;
  border-right-width: thin;
}

.botoes-meunu-vertical {
  list-style-type: none;
}

.painel-de-videos {
  padding-left: 20px;
  padding-top: 20px;
  margin: 5vh 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 20px;
  justify-content: space-around;
}

/* .media1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.media2 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.media3 {
  grid-column-start: 5;
  grid-row-start: 1;
}

.media4 {
  grid-column-start: 7;
  grid-row-start: 1;
}

.media5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.media6 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.media7 {
  grid-column-start: 5;
  grid-row-start: 3;
}

.media8 {
  grid-column-start: 7;
  grid-row-start: 3;
} */


.box-pagina-principal {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  border-style: solid;
  border-width: thin; 
  align-items: start;
  justify-items: stretch;
}


footer {
  height: 10%;
  background-color: grey;
  margin: 0;
  padding: 0;
  text-align: center;
}

.box-pagina-principal > img {
  width: 100%;
  height: 80%;
}

h4 {
  margin-left: 20px;
}

@media screen and (max-width:800px){
  .menu-vertical {
    flex-basis: 100px;
    margin-left: -15px;
    padding-right: 5px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width:400px){
  .painel-de-videos {
    margin: 0;
    padding: 10px 0;
    gap: 0;
  }
  header{
    padding: 0;
    max-width: 100vw;
    font-size: 1rem;
    justify-content: space-around;
  }
  header h1{
    font-size: 1rem;
  }
  header input{
    width: 30%;
  }
  .menu-vertical {
    display: none;
  }
}