#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

section{
    display: flex;
    flex-direction: column;
    margin: 30px 40px;
    border: 4px dotted purple;
    border-radius: 0px 15px 0px 15px;
    padding: 10px;
}

section > *{
    margin: 4px 0;
}

section > label{
    font-weight: bold;
    font-size: 1.30rem;
}